# ! pip install selenium

In [2]:
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [5]:
driver = webdriver.Chrome(r"C:\Users\Raii\Downloads\chromedriver_win32\chromedriver.exe")

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [484]:
driver.get("http://www.naukri.com/")

In [7]:
search_designation=driver.find_element_by_class_name("suggestor-input ")
search_designation.send_keys("Data Analyst")
search_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_location.send_keys("Bangalore")

In [9]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [15]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e78c4344e9e7b67a7f64b796d7cb973c", element="87ea2d5a-2559-4500-9ce9-f98afb1eaa4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e78c4344e9e7b67a7f64b796d7cb973c", element="301d0fb5-c5cf-41aa-a901-0c01abc01988")>]

In [16]:
job_title=[]
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:4]

['Sr Domain Expert -Data Analysts',
 'Senior Data Analyst (Digital Services Analytics)',
 'Senior Data Analyst',
 'Required Senior Data Analyst - Brickwork Ratings']

In [18]:
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e78c4344e9e7b67a7f64b796d7cb973c", element="7872979c-2e34-46b0-998b-99fbeafe4d22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e78c4344e9e7b67a7f64b796d7cb973c", element="73b8a95a-dfeb-4298-b288-5154cd190205")>]

In [19]:
job_location=[]
for i in location:
    locations=i.text
    job_location.append(locations)
job_location[0:2]

['Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [20]:
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e78c4344e9e7b67a7f64b796d7cb973c", element="d59e34bd-42b2-4dd6-934e-72f7f5d83f34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e78c4344e9e7b67a7f64b796d7cb973c", element="012d99e0-2b95-4c83-9d43-2b7430ac46a1")>]

In [21]:
company_names=[]
for i in company_name:
    company=i.text
    company_names.append(company)
company_names[0:2]

['Siemens', 'Dell Technologies']

In [22]:
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="e78c4344e9e7b67a7f64b796d7cb973c", element="6fca2799-866d-4a01-aa5c-b884a37a65c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e78c4344e9e7b67a7f64b796d7cb973c", element="ea5f763d-8afd-474d-be9d-c6e549070dc4")>]

In [23]:
experience_required=[]
for i in experience:
    experience=i.text
    experience_required.append(experience)
experience_required[0:2]

['0-10 Yrs', '1-6 Yrs']

In [24]:
print(len(experience_required),len(company_names),len(job_location),len(job_title))

20 20 20 20

In [28]:
jobdetails = pd.DataFrame({})
jobdetails["job_title"]=job_title
jobdetails["job_location"]=job_location
jobdetails["company_names"]=company_names
jobdetails["experience_required"]=experience_required
jobdetails[0:10]

,job_title,job_location,company_names,experience_required
0,Sr Domain Expert -Data Analysts,Bangalore/Bengaluru,Siemens,0-10 Yrs
1,Senior Data Analyst (Digital Services Analytics),Bangalore/Bengaluru,Dell Technologies,1-6 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Intel,3-8 Yrs
3,Required Senior Data Analyst - Brickwork Ratings,Bangalore/Bengaluru,Brickwork Ratings,2-3 Yrs
4,Staff Business Data Analyst - FDP,Bangalore/Bengaluru,Intuit Inc.,5-7 Yrs
5,Data Analyst,Bangalore/Bengaluru,Vedantu Innovations,0-3 Yrs
6,Data Analyst 2,Bangalore/Bengaluru,PayPal,5-8 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-6 Yrs
8,Senior Professional Data Analyst,Bangalore/Bengaluru,DXC Technology,3-7 Yrs
9,MDM - Data Analyst,Bangalore/Bengaluru,Shell,3-4 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [31]:
driver = webdriver.Chrome(r"C:\Users\Raii\Downloads\chromedriver_win32\chromedriver.exe")

In [32]:
driver.get("http://www.naukri.com/")

In [33]:
search_designation=driver.find_element_by_class_name("suggestor-input ")
search_designation.send_keys("Data Scientist")
search_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_location.send_keys("Bangalore")

In [34]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [35]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="e043313b-a1b4-4018-9813-662b64683c60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="f72bfa2b-d1e3-4190-a2d2-5002726b9a2d")>]

In [36]:
job_title=[]
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:4]

['Senior Data Scientist',
 'Senior Data Scientist',
 'Junior Data Scientist',
 'DATA Scientist with Fraud Analytics Experience']

In [37]:
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="b2b3e92a-7bd1-47d8-8e29-0985c888623b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="00c5e42a-3718-4422-bf38-ec0512f3c322")>]

In [38]:
company_names=[]
for i in company_name:
    company=i.text
    company_names.append(company)
company_names[0:2]

['Flipkart', 'GSK India']

In [39]:
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="176c8704-2ad8-49f1-b889-6d2376951f57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="e1400123-ec66-46d6-adf3-7aed214c617b")>]

In [40]:
job_location=[]
for i in location:
    locations=i.text
    job_location.append(locations)
job_location[0:2]

['Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [41]:
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="e39a8dd8-c52a-417d-838c-2c9e7e85fc10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="1c3043e2-0b23-4828-8836-9254e40028fa")>]

In [42]:
experience_required=[]
for i in experience:
    experience=i.text
    experience_required.append(experience)
experience_required[0:2]

['5-8 Yrs', '5-9 Yrs']

In [43]:
print(len(experience_required),len(company_names),len(job_location),len(job_title))

20 20 20 20

In [44]:
jobdetails = pd.DataFrame({})
jobdetails["job_title"]=job_title
jobdetails["job_location"]=job_location
jobdetails["company_names"]=company_names
jobdetails["experience_required"]=experience_required
jobdetails[0:10]

,job_title,job_location,company_names,experience_required
0,Senior Data Scientist,Bangalore/Bengaluru,Flipkart,5-8 Yrs
1,Senior Data Scientist,Bangalore/Bengaluru,GSK India,5-9 Yrs
2,Junior Data Scientist,Bangalore/Bengaluru,Accenture,2-6 Yrs
3,DATA Scientist with Fraud Analytics Experience,Bangalore/Bengaluru,Concentrix,2-4 Yrs
4,Data Scientist II- Merchandise & Discovery,Bangalore/Bengaluru,Swiggy,2-5 Yrs
5,Principal Data Scientist,Bangalore/Bengaluru,Meesho,6-10 Yrs
6,Senior Data Scientist/Data Scientist,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",Tredence Analytics Solutions Private Limited,2-7 Yrs
7,Senior Data Scientist,Bangalore/Bengaluru,Zoom Start India,3-6 Yrs
8,Principal Data Scientist,Bangalore/Bengaluru,"Rakuten, Inc.",7-12 Yrs
9,Data Scientist Opportunity with PayU ( Tier1 i...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",PayU,2-5 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [67]:
driver.get("http://www.naukri.com/")

In [68]:
search_designation=driver.find_element_by_class_name("suggestor-input ")
search_designation.send_keys("Data Scientist")

In [69]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [79]:
location_filter=driver.find_element_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/div[3]/div/div[3]/div")
location_filter.click()

In [80]:
salary_filter=driver.find_element_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/div[2]/div/div[2]/div[2]")
salary_filter.click()

In [81]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="fc0fbb6d-0e93-41a7-89e1-764fb583ef5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="0577210c-4b33-4116-95a0-c097e48ada42")>]

In [82]:
job_title=[]
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:4]

['Senior Data Scientist',
 'Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Data Scientist (freelance)',
 'Lead Data Scientist']

In [83]:
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="267ed629-772d-4ba5-879f-f0788d66a498")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="5297b676-9740-446b-a6a6-31d0cef9304b")>]

In [84]:
company_names=[]
for i in company_name:
    company=i.text
    company_names.append(company)
company_names[0:2]

['Optum', 'Creative Hands HR Consultancy']

In [85]:
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="e3a230ce-f692-4183-90cd-d047cf1ac796")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="65abf4f6-713f-4459-a83a-ae9f144e5c1c")>]

In [86]:
job_location=[]
for i in location:
    locations=i.text
    job_location.append(locations)
job_location[0:2]

['Noida',
 'Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [87]:
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="a28afbd9-c960-45f0-8ff3-316951ff9f78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="cca30e87-4573-4bd2-b605-b53007d87b62")>]

In [88]:
experience_required=[]
for i in experience:
    experience=i.text
    experience_required.append(experience)
experience_required[0:2]

['2-7 Yrs', '0-4 Yrs']

In [89]:
print(len(experience_required),len(company_names),len(job_location),len(job_title))

20 20 20 20

In [90]:
jobdetails = pd.DataFrame({})
jobdetails["job_title"]=job_title
jobdetails["job_location"]=job_location
jobdetails["company_names"]=company_names
jobdetails["experience_required"]=experience_required
jobdetails[0:10]

,job_title,job_location,company_names,experience_required
0,Senior Data Scientist,Noida,Optum,2-7 Yrs
1,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba...",Creative Hands HR Consultancy,0-4 Yrs
2,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
3,Lead Data Scientist,Gurgaon/Gurugram,KIA INDIA PRIVATE LIMITED,7-10 Yrs
4,Data Scientist - Python/SQL,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",AVE-Promagne,3-8 Yrs
5,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
6,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs
7,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL Technologies,3-8 Yrs
8,AM Data Scientist - Goods & Service Tax Networ...,Delhi / NCR,NISG (National Institute for Smart Government),3-8 Yrs
9,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

In [379]:
driver.get("https://www.flipkart.com/")

In [380]:
search_designation=driver.find_element_by_class_name("_3704LK")
search_designation.send_keys("sunglasses")

In [381]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [382]:
name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
name[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="ef7889dd-9da6-4723-beb6-a101da47c917")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="559bce34-fa8e-4d5c-9b9e-86418080cb19")>]

In [383]:
len(name)

40

In [384]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="9b860df7-8dd1-41eb-97c0-2703d5f51a02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="b20b4acc-22fe-49b9-8dc6-c31ef3188a59")>]

In [385]:
len(price)

40

In [386]:
pdetails=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pdetails[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="c80f8e1b-4b17-4546-8e5a-21357352c8c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="b3f9e592-bdce-4a66-9d6f-b27039deb0c4")>]

In [387]:
len(pdetails)

40

In [388]:
page1_names=[]
for i in name:
    names=i.text
    page1_names.append(names)
page1_names[0:2]

['Singco India', 'VINCENT CHASE']

In [389]:
page1_price=[]
for i in price:
    prices=i.text
    page1_price.append(prices)
page1_price[0:2]

['₹614', '₹599']

In [390]:
page1_pdetails=[]
for i in pdetails:
    pdetails=i.text
    page1_pdetails.append(pdetails)
page1_pdetails[0:2]

['Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Wayfarer Sunglasses (59)']

In [391]:
print(len(page1_names),len(page1_price),len(page1_pdetails))

40 40 40

In [392]:
page1 = pd.DataFrame({})
page1["page1_names"]=page1_names
page1["page1_price"]=page1_price
page1["page1_pdetails"]=page1_pdetails[0:40]
page1.head()

,page1_names,page1_price,page1_pdetails
0,Singco India,₹614,"Gradient, Toughened Glass Lens, UV Protection ..."
1,VINCENT CHASE,₹599,UV Protection Wayfarer Sunglasses (59)
2,Fastrack,₹709,UV Protection Wayfarer Sunglasses (Free Size)
3,SRPM,₹148,UV Protection Wayfarer Sunglasses (50)
4,New Specs,₹183,UV Protection Rectangular Sunglasses (Free Size)

In [393]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
next_button.click()

In [394]:
name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
name[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="9bed5bf4-b81e-419d-8be2-7490ce5ecc57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="77877dda-4041-4163-8655-79e2b15727f7")>]

In [395]:
page2_names=[]
for i in name:
    names=i.text
    page2_names.append(names)
page2_names[0:2]

['ROZZETTA CRAFT', 'Fastrack']

In [396]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="8a8da9ec-d7c5-4de7-81db-0aceb687e7df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="bee6d85e-5a2d-477b-b453-a761db31f01d")>]

In [397]:
page2_price=[]
for i in price:
    prices=i.text
    page2_price.append(prices)
page2_price[0:2]

['₹280', '₹629']

In [398]:
pdetails=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pdetails[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="c144241f-2eb5-4064-bcf0-8611b23513f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="ca77b7d0-d5bf-4596-801e-15075df4b5b2")>]

In [399]:
page2_pdetails=[]
for i in pdetails:
    pdetails=i.text
    page2_pdetails.append(pdetails)
page2_pdetails[0:2]

['UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)']

In [400]:
print(len(page2_names),len(page2_price),len(page2_pdetails))

40 40 39

In [401]:
page2 = pd.DataFrame({})
page2["page1_names"]=page2_names[0:39]
page2["page1_price"]=page2_price[0:39]
page2["page1_pdetails"]=page2_pdetails
page2.head()

,page1_names,page1_price,page1_pdetails
0,ROZZETTA CRAFT,₹280,"UV Protection, Gradient Rectangular Sunglasses..."
1,Fastrack,₹629,UV Protection Wayfarer Sunglasses (Free Size)
2,Fastrack,₹749,UV Protection Wayfarer Sunglasses (Free Size)
3,NuVew,₹135,"UV Protection Retro Square, Wayfarer Sunglasse..."
4,SUNBEE,₹180,"UV Protection, Polarized, Mirrored Retro Squar..."

In [125]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
next_button.click()

In [126]:
name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
name[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="95153eaf-8579-4a92-8b15-7f2a8fcea8f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="a02df29c-b4fd-44c3-8cfe-5ca8c310650f")>]

In [127]:
page3_names=[]
for i in name:
    names=i.text
    page3_names.append(names)
page3_names[0:2]

['hipe', 'Fastrack']

In [128]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="bee707ff-e799-48e4-a131-7d52e030993e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="7e9e8710-e3ad-4e79-956e-499335fa5dd0")>]

In [129]:
page3_price=[]
for i in price:
    prices=i.text
    page3_price.append(prices)
page3_price[0:2]

['₹160', '₹749']

In [130]:
pdetails=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pdetails[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="25622f06-1d61-45e3-afaa-19d6328b4a06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="c3b65cc8-f84f-4dc8-b335-94757e02a3a4")>]

In [131]:
page3_pdetails=[]
for i in pdetails:
    pdetails=i.text
    page3_pdetails.append(pdetails)
page3_pdetails[0:2]

['Mirrored, Gradient, Riding Glasses Round Sunglasses (55...',
 'UV Protection Shield Sunglasses (Free Size)']

In [132]:
print(len(page3_names),len(page3_price),len(page3_pdetails))

40 40 38

In [133]:
page3 = pd.DataFrame({})
page3["page1_names"]=page3_names[0:21]
page3["page1_price"]=page3_price[0:21]
page3["page1_pdetails"]=page3_pdetails[0:21]
page3

,page1_names,page1_price,page1_pdetails
0,hipe,₹160,"Mirrored, Gradient, Riding Glasses Round Sungl..."
1,Fastrack,₹749,UV Protection Shield Sunglasses (Free Size)
2,Fastrack,₹749,UV Protection Sports Sunglasses (Free Size)
3,Singco India,₹614,"Gradient, Toughened Glass Lens, UV Protection ..."
4,Elligator,₹174,UV Protection Wayfarer Sunglasses (53)
5,ROZZETTA CRAFT,₹253,UV Protection Rectangular Sunglasses (Free Size)
6,Lee Topper,₹325,"UV Protection, Riding Glasses Retro Square, Sp..."
7,VINCENT CHASE,₹599,UV Protection Wayfarer Sunglasses (59)
8,SUNBEE,₹226,"UV Protection, Polarized, Mirrored Round Sungl..."
9,Elligator,₹228,UV Protection Wayfarer Sunglasses (53)
10,ROZZETTA CRAFT,₹292,"UV Protection, Gradient Round Sunglasses (Free..."
11,PHENOMENAL,₹329,UV Protection Retro Square Sunglasses (Free Size)
12,kingsunglasses,₹169,"Mirrored, UV Protection Aviator Sunglasses (56)"
13,Fastrack,₹709,UV Protection Wayfarer Sunglasses (Free Size)
14,Elligator,₹283,UV Protection Aviator Sunglasses (55)
15,AISLIN,₹409,"UV Protection, Gradient Cat-eye Sunglasses (58)"
16,ROZZETTA CRAFT,₹376,"UV Protection, Riding Glasses Rectangular Sung..."
17,SHAAH COLLECTIONS,₹98,UV Protection Rectangular Sunglasses (Free Size)
18,DAHAAZIL,₹156,"UV Protection, Night Vision, Riding Glasses Wa..."
19,Singco India,₹167,"UV Protection, Riding Glasses, Others Aviator,..."
20,Fastrack,"₹1,649",UV Protection Oval Sunglasses (Free Size)

In [135]:
flipcart_100_sunglasses = pd.concat([page1,page2,page3])
flipcart_100_sunglasses

,page1_names,page1_price,page1_pdetails
0,VINCENT CHASE,₹599,UV Protection Wayfarer Sunglasses (59)
1,PHENOMENAL,₹329,UV Protection Retro Square Sunglasses (Free Size)
2,Fastrack,₹709,UV Protection Wayfarer Sunglasses (Free Size)
3,New Specs,₹183,UV Protection Rectangular Sunglasses (Free Size)
4,SRPM,₹148,UV Protection Wayfarer Sunglasses (50)
...,...,...,...
16,ROZZETTA CRAFT,₹376,"UV Protection, Riding Glasses Rectangular Sung..."
17,SHAAH COLLECTIONS,₹98,UV Protection Rectangular Sunglasses (Free Size)
18,DAHAAZIL,₹156,"UV Protection, Night Vision, Riding Glasses Wa..."
19,Singco India,₹167,"UV Protection, Riding Glasses, Others Aviator,..."
20,Fastrack,"₹1,649",UV Protection Oval Sunglasses (Free Size)

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [138]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [148]:
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="c37e9f91-ed68-446a-bf53-9843ffa05df2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="24036170-d444-4fce-86a3-3599e10f8d5f")>]

In [141]:
len(rating)

10

In [142]:
all_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span")
all_button.click()

In [147]:
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="c37e9f91-ed68-446a-bf53-9843ffa05df2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="24036170-d444-4fce-86a3-3599e10f8d5f")>]

In [144]:
page1_rating=[]
for i in rating:
    ratings = i.text
    page1_rating.append(ratings)
page1_rating

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [161]:
Review_summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_summary[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="e5f09803-b4d0-475e-a5e0-8459eab87b45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="57cc24ba-0c55-4008-bc6f-00b77ea2606b")>]

In [162]:
page1_Review_summary=[]
for i in Review_summary:
    Review_summarys = i.text
    page1_Review_summary.append(Review_summarys)
page1_Review_summary

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny']

In [165]:
full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="9162d3d5-f386-42a4-8967-3ab33acd19d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="26953af9-e243-4b9e-bb11-b5b257a011d0")>]

In [167]:
page1_full_review=[]
for i in full_review:
    full_reviews = i.text.replace("\n",".")
    page1_full_review.append(full_reviews)
page1_full_review

['The Best Phone for the Money..The iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price...Compelling ultra-wide camera.New Night mode is excellent.Long battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7..Pros.-Camera top class.- Battery top performed.-Chipset no need to say as apple kind.-Security as you expect from apple.- Display super bright industry leading colour.accuracy and super responsive.-Build quality as expect from apple sturdy.premium durable beautiful stylish..-Os most stable os in smartphone industry..Cons.-No 5G.-Display is not based on OLED technology.-Charger headphones and 1 apple stic....READ MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone.And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11.I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display.But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red.My experience after using 3 weeks.1. The delivery ....READ MORE',
 'Amazing Powerful and Durable Gadget...I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone...I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years...Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb...I’ve attached my puppy pics and no fi....READ MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..']

In [168]:
page1 = pd.DataFrame({})
page1["rating"]=page1_rating
page1["Review_summary"]=page1_Review_summary
page1["full_review"]=page1_full_review
page1

,rating,Review_summary,full_review
0,5,Brilliant,The Best Phone for the Money..The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Great product,Amazing Powerful and Durable Gadget...I’m am v...
7,4,Good choice,So far it’s been an AMAZING experience coming ...
8,5,Highly recommended,What a camera .....just awesome ..you can feel...
9,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

In [169]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")
next_button.click()

In [170]:
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="79303daa-7154-4307-9e81-69e2cc6bda70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="6c365e15-8020-46ce-b0da-0b6d66d8f4de")>]

In [171]:
page2_rating=[]
for i in rating:
    ratings = i.text
    page2_rating.append(ratings)
page2_rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [172]:
Review_summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_summary[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="cc7e18e2-15c0-4a00-81eb-acec1ef13695")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="0e92b8d0-ef8f-4e57-b8ee-01af51936e70")>]

In [173]:
page2_Review_summary=[]
for i in Review_summary:
    Review_summarys = i.text
    page2_Review_summary.append(Review_summarys)
page2_Review_summary

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Worth every penny',
 'Worth every penny',
 'Simply awesome',
 'Classy product',
 'Worth every penny']

In [174]:
full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="b23b416a-5cc5-45dc-9ea0-724adb9af770")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="7da34784-e8e8-4a6f-bb2b-888c80a9c381")>]

In [175]:
page2_full_review=[]
for i in full_review:
    full_reviews = i.text.replace("\n",".")
    page2_full_review.append(full_reviews)
page2_full_review

['iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment..If you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you..Cameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with....READ MORE',
 'Value for money❤️❤️.Its awesome mobile phone in the world ....Display was very good and bright ...Trust me freinds you r never regret after Buying...Just go for it.....I love this phone and i switch to iphone x to 11',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing...This phone not only for good quality photography but a lot of other task too.😍💯",
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance...Camera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃..Battery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba....READ MORE',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography...Lucky to get it in sale, thank you Flipkart.',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t....READ MORE',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g.Can’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge.Camera is superb. Front cam selfies and back cam photos are just awesome......READ MORE']

In [177]:
page2 = pd.DataFrame({})
page2["rating"]=page2_rating
page2["Review_summary"]=page2_Review_summary
page2["full_review"]=page2_full_review
page2

,rating,Review_summary,full_review
0,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money❤️❤️.Its awesome mobile phone i...
3,5,Highly recommended,It's my first time to use iOS phone and I am l...
4,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
5,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
6,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
7,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
8,5,Classy product,Totally in love with this ❤ the camera quality...
9,5,Worth every penny,It’s been almost a month since I have been usi...

In [178]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()

In [179]:
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="fd72c4a4-b8f2-4eb2-9ef6-2fe0d86e9870")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="77a7ea78-7e35-451c-9e29-4d4dd7c5688f")>]

In [180]:
page3_rating=[]
for i in rating:
    ratings = i.text
    page3_rating.append(ratings)
page3_rating

['5', '5', '4', '5', '5', '5', '5', '4', '5', '5']

In [181]:
Review_summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_summary[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="963c4880-92c1-4587-922d-b998f8a23668")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="c853d9e6-21e0-4827-8bba-35ae70d6bc91")>]

In [182]:
page3_Review_summary=[]
for i in Review_summary:
    Review_summarys = i.text
    page3_Review_summary.append(Review_summarys)
page3_Review_summary

['Terrific',
 'Wonderful',
 'Nice product',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Brilliant',
 'Good choice',
 'Must buy!',
 'Great product']

In [183]:
full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="ecf23ea3-7b90-466c-bbe8-87436209b0ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="4c4d33ce-d533-4d3e-869b-426e2041b7bb")>]

In [184]:
page3_full_review=[]
for i in full_review:
    full_reviews = i.text.replace("\n",".")
    page3_full_review.append(full_reviews)
page3_full_review

['Really worth of money. i just love it. It is the best phone ever.',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR..Camera is superb and wide angle camera is very clear..12MP selfie camera is also very good..A13 Chip gives a very good and smooth performance.',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'Superb Product !!!.A big and worthy upgrade from mi 3S to iphone 11 ..Totally loved it !',
 'It is just awesome mobile for this price from Apple,..After 10 days review..Battery enough for 1 day even 24*7 Internet will be on and mostly internet usage..Camera is just awesome cool , android 64 MP is equal to this just 12 MP..A13 Bionic chip will give more high performance without hanging..Audio stereo speakers will give Dolby atoms sound with crystal clear..Video recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone.iPhone 11 loved one',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-.1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly..2) iPhone 11 series have really good cameras... others have spoken in depth about them..3) bat....READ MORE',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone.Clean box 📦 good 👍 delivery 👌 fast delivery.Original box Original iphone 📱 👌 😍😍😍',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage..This review I have written from iPhone 11 only and I am glad to say outside...Cons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8..No assistive touch control button in it.No oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr....READ MORE',
 "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕."]

In [185]:
page3 = pd.DataFrame({})
page3["rating"]=page3_rating
page3["Review_summary"]=page3_Review_summary
page3["full_review"]=page3_full_review
page3

  rating    Review_summary                                        full_review
0      5          Terrific  Really worth of money. i just love it. It is t...
1      5         Wonderful  This is my first ever I phone. Before this I w...
2      4      Nice product  Awesome Phone. Slightly high price but worth. ...
3      5  Perfect product!  Battery backup is extraordinary, camera is dec...
4      5    Classy product  Superb Product !!!.A big and worthy upgrade fr...
5      5  Perfect product!  It is just awesome mobile for this price from ...
6      5         Brilliant  I have migrated from OP 7pro... and trust me, ...
7      4       Good choice  Looking so good 👍 😍 super 👌 stylish 😎 phone.Cl...
8      5         Must buy!  It’s an amazing product from apple and the cam...
9      5     Great product  Again back to apple iphone after a gap of 2-3 ...

In [186]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()

In [187]:
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="a731059b-baf9-4c8e-b5fe-0e6f1e56a3ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="e6aa842c-9d92-499b-8fd9-e057676ebcbb")>]

In [188]:
page4_rating=[]
for i in rating:
    ratings = i.text
    page4_rating.append(ratings)
page4_rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '4']

In [189]:
Review_summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_summary[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="263e943e-4b41-40fc-b9b2-265e86ed8f5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="434d3255-c917-4b6e-af02-d97e85a0a1e1")>]

In [190]:
page4_Review_summary=[]
for i in Review_summary:
    Review_summarys = i.text
    page4_Review_summary.append(Review_summarys)
page4_Review_summary

['Perfect product!',
 'Wonderful',
 'Simply awesome',
 'Terrific purchase',
 'Great product',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Excellent',
 'Simply awesome',
 'Good quality product']

In [191]:
full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="c0a7c2a3-c951-4278-b5d2-1926546cac32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="99b2c92f-f9f2-4bb3-9ff6-dcbe09ae237b")>]

In [192]:
page4_full_review=[]
for i in full_review:
    full_reviews = i.text.replace("\n",".")
    page4_full_review.append(full_reviews)
page4_full_review

['After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series..Camera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models..I will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs...Only one thing that I dislike abo....READ MORE',
 "It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone",
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi....READ MORE',
 'The built quality is not very premium..The battery back is great ..The LCD panel is not so sharp but the brightness level is very High ..Camera is super duper awesome..The red colour which people think is bright is actually very soothing and excellent colour to choose from ..The A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram ..Camera module is very great and looks very stylish.',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar....READ MORE',
 'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this',
 'Really good actually this is my first apple product am using its really awesome performance wise excellent. Am really happy with this iphone11',
 'it is very good at performance. Camera is best like before and very smooth response even in water. Don’t buy 12 mini buy iPhone 11 , it is far better than 12 mini believe me ! Have a nice day \uf8ff ☺️']

In [193]:
page4 = pd.DataFrame({})
page4["rating"]=page4_rating
page4["Review_summary"]=page4_Review_summary
page4["full_review"]=page4_full_review
page4

,rating,Review_summary,full_review
0,5,Perfect product!,After 1 month use I found camera quality best ...
1,5,Wonderful,I just directly switch from iphone 6s to iphon...
2,5,Simply awesome,It's very high performances devise i am like t...
3,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
4,5,Great product,Well you all know the specifications . One of ...
5,5,Terrific purchase,The built quality is not very premium..The bat...
6,5,Mind-blowing purchase,This will help you more. See if you are planni...
7,5,Excellent,Amazing camera and feel super machine I am not...
8,5,Simply awesome,Really good actually this is my first apple pr...
9,4,Good quality product,it is very good at performance. Camera is best...

In [194]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()

In [195]:
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="bdf19b90-647c-4de5-a6fb-d87f14f9f49e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="487ab04b-f497-4410-ac91-2948fbc552ba")>]

In [196]:
page5_rating=[]
for i in rating:
    ratings = i.text
    page5_rating.append(ratings)
page5_rating

['5', '5', '5', '5', '5', '5', '5', '5', '4']

In [203]:
page5_rating.insert(0,'1')
page5_rating

['1', '5', '5', '5', '5', '5', '5', '5', '5', '4']

In [197]:
Review_summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_summary[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="ab48d203-ca36-4182-8ea2-70bc525f69dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="e70fcb7f-9b93-4aae-910a-5ab6a0718615")>]

In [198]:
page5_Review_summary=[]
for i in Review_summary:
    Review_summarys = i.text
    page5_Review_summary.append(Review_summarys)
page5_Review_summary

['Very poor',
 'Perfect product!',
 'Classy product',
 'Fabulous!',
 'Must buy!',
 'Fabulous!',
 'Mind-blowing purchase',
 'Wonderful',
 'Must buy!',
 'Very Good']

In [199]:
full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="b7ba0387-1afb-46a0-8047-cc4d6b3e542b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="3ccf5467-2f61-490b-b714-ae20c4e495c7")>]

In [200]:
page5_full_review=[]
for i in full_review:
    full_reviews = i.text.replace("\n",".")
    page5_full_review.append(full_reviews)
page5_full_review

['Reviewing again after 5 months. At the beginning the battery and performance was good but it degraded soon. Also I was facing heating issues. The mobile will heat up like a stove sometimes. You cannot even play Pubg even in low settings properly, performance is not a problem but heating is. Also if you play that game for 10 mins the brightness will be automatically down due to over heating even when the auto brightness is set to off. This will not be solved even if u manually increase the bri....READ MORE',
 'In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompare....READ MORE',
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr...Bought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!..The phone is great and does excellent RAM management like any other Apple device...The screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re....READ MORE',
 'Everything is perfect pictures come out so clearly and at first I wasn’t sure when I got it then when I started to use it and get the hang of it it was amazing!! I can’t wait to see what the next future phones will be like. The screen display on this bad boy are unbelievable they are so clear and never fail me. The performance is super cool there is a lot of cool features as well I like this phone because I feel that it is easy to use and one of my favorite things about this phone is the Face....READ MORE',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple....READ MORE',
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but....READ MORE",
 'Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine.Highlights;.1.Camera: 5 STAR.2.Video Recording: 5 star.3.Night mODE sHOOTING & Camera:4 star.4. Audio Quality: Awesome.5. Battery : 5 Star.6. Touch:5 Star.7. Processor: Very Fast.The M....READ MORE',
 'Superfast delivery by Flipkart. Thanks...1. iPhone 11 is a pretty solid phone for the money you are paying..2. All the bad reviews about the display is confusing. It’s not that bad..3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, it’s not OLED, so, we are missing on the deep blacks. But that’s it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation..4. Performance is one of the best, if not best, in ....READ MORE',
 'I rate this product 5* as it has got amazing user experience with the best performing A13 bionic processor. The screen responds and graphics rendering is top notch. With casual gaming and internet browsing, the battery lasts for approx. 1 day. Camera is very good. You will fall in love with the portrait mode. You can call me a loyal Apple customer or whatever but I won’t stop praising the products and overall experience. That user experience matters and is worth every penny you pay...Below ar....READ MORE',
 'impressive super phone and best in class camera ,sound and face unlock is super fast just see and phone is unlock and fast in daily apps use']

In [204]:
print(len(page5_rating),len(page5_Review_summary),len(page5_full_review))

10 10 10

In [205]:
page5 = pd.DataFrame({})
page5["rating"]=page5_rating
page5["Review_summary"]=page5_Review_summary
page5["full_review"]=page5_full_review
page5

,rating,Review_summary,full_review
0,1,Very poor,Reviewing again after 5 months. At the beginni...
1,5,Perfect product!,"In love with this iphone great performance,cam..."
2,5,Classy product,We are on apple ecosystem for almost eight yea...
3,5,Fabulous!,Everything is perfect pictures come out so cle...
4,5,Must buy!,Best Apple iPhone that i have bought at a very...
5,5,Fabulous!,I can say I'm damn impressed with iPhone 11. A...
6,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."
7,5,Wonderful,Superfast delivery by Flipkart. Thanks...1. iP...
8,5,Must buy!,I rate this product 5* as it has got amazing u...
9,4,Very Good,impressive super phone and best in class camer...

In [206]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()

In [210]:
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="d926b659-dc14-45e2-b1a5-2d43b494ce56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="47457180-6fe3-427a-8c9c-ae9d34cc40cf")>]

In [209]:
page6_rating=[]
for i in rating:
    ratings = i.text
    page6_rating.append(ratings)
page6_rating

['5', '5', '5', '5', '4', '5', '5', '5', '5', '5']

In [211]:
Review_summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_summary[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="d70e63e8-fd8e-414c-b823-8b4fdda3c449")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="9dfe58c6-f121-49e0-ba54-80709757e9a9")>]

In [212]:
page6_Review_summary=[]
for i in Review_summary:
    Review_summarys = i.text
    page6_Review_summary.append(Review_summarys)
page6_Review_summary

['Wonderful',
 'Classy product',
 'Just wow!',
 'Awesome',
 'Pretty good',
 'Terrific purchase',
 'Awesome',
 'Classy product',
 'Brilliant',
 'Terrific']

In [213]:
full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="37bb3270-9481-4a98-9cbe-29010dc7240a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="4890bc7f-ecde-4986-8e15-684688d97bfd")>]

In [214]:
page6_full_review=[]
for i in full_review:
    full_reviews = i.text.replace("\n",".")
    page6_full_review.append(full_reviews)
page6_full_review

['Super and marvellous phone look very cute and nice sound. I love this phone i think white is good colur.Excellent camer 5*😍😘♥️♥️',
 'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage...P.S the black is more of a dark grey shade and not jet black',
 'Best in class. Battery backup is good especially when you play games like Pubg COD. But it is sort of heavy when you hold in hands. Portrait mode is best to click pictures. Stage light effect is awesome. Try to click photos outside in nature because photos inside home or room will not give you the quality in any phone even in DSLR.',
 'Very excited to have this phone. This phone has the real power unlike the android phones having SD 855 . The battery life is very good and the camera quality is excellent as comapred to redmi and other phones except google pixel. I M enjoying every single bit of it. Would recommed only if you have the budget.',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price',
 'I am using this phone for 5 days and its one of the best camera out there ❤️ the screen is not oled and i am coming from iphone xs so its little bit not up to the mark i would say.But overall value for money💕😍the battery back up is far better than my iphone xs and its worth in my apple ecosystem💫❤️if u are an apple User and have the eco system then go for it❤️though i will be getting the new iphone but its pretty good💫',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'Excellent camera and display touching very nice and smooth very improvement against iPhone XR and new processor is very fast',
 "I got this beast today. And I must say the picture quality of its camera is awesome. Both the cameras works fine...As for as the processing is concerned, it runs without any lag. You can play and do whatever you want without a glitch...The battery runs for a day with medium and high workload...The display is good and the speakers are working fine...The earphones doesn't have any base and you can use it for calling mostly...The charging time is approximately for 90 minutes for full charging....READ MORE"]

In [215]:
print(len(page6_rating),len(page6_Review_summary),len(page6_full_review))

10 10 10

In [216]:
page6 = pd.DataFrame({})
page6["rating"]=page6_rating
page6["Review_summary"]=page6_Review_summary
page6["full_review"]=page6_full_review
page6

  rating     Review_summary                                        full_review
0      5          Wonderful  Super and marvellous phone look very cute and ...
1      5     Classy product  Well while switching from android to iOS the f...
2      5          Just wow!  Best in class. Battery backup is good especial...
3      5            Awesome  Very excited to have this phone. This phone ha...
4      4        Pretty good  I was using Iphone 6s and also Oneplus 6t. Bot...
5      5  Terrific purchase  Its Very awesome product working and good came...
6      5            Awesome  I am using this phone for 5 days and its one o...
7      5     Classy product  Best and amazing product.....phone looks so pr...
8      5          Brilliant  Excellent camera and display touching very nic...
9      5           Terrific  I got this beast today. And I must say the pic...

In [217]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()

In [218]:
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="e56ebcbf-4cdc-460b-abde-a13d86956c35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="6b6b5673-ddfd-49aa-b3c7-ca2e9ed97409")>]

In [229]:
page7_rating=[]
for i in rating:
    ratings = i.text
    page7_rating.append(ratings)
page7_rating

['5', '5', '5', '5', '5', '5', '5', '4', '5']

In [231]:
page7_rating.insert(4,'1')
page7_rating

['5', '5', '5', '5', '1', '5', '5', '5', '4', '5']

In [232]:
Review_summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_summary[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="07284674-bd07-4cf8-80a6-184cf1818299")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="aa294c5c-fc41-458f-8f86-edc9541ece3a")>]

In [233]:
page7_Review_summary=[]
for i in Review_summary:
    Review_summarys = i.text
    page7_Review_summary.append(Review_summarys)
page7_Review_summary

['Perfect product!',
 'Awesome',
 'Perfect product!',
 'Highly recommended',
 'Very poor',
 'Fabulous!',
 'Excellent',
 'Must buy!',
 'Value-for-money',
 'Best in the market!']

In [234]:
full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="f569f1a7-b938-47ca-9758-3c8955a7fadf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="8b098651-b597-4053-aed0-9c64a96c92b4")>]

In [235]:
page7_full_review=[]
for i in full_review:
    full_reviews = i.text.replace("\n",".")
    page7_full_review.append(full_reviews)
page7_full_review

['Awesome purchase. Amazing phone with good battery backup. It’s a top notch device. White colour looks amazing. Phone has a few extra feature than iPhone XR. Overall, this is value for money',
 'Always love the apple products, upgraded from old iPhone 6S plus to this after having my first baby. I just love to click baby’s photos with it. Overall I just love this phone. Battery back up is okay, sound quality is good. Haven’t tested yet waterproof yet. Only one thing I hate is apple could have given charger & headphones in box.',
 'Value for money.5 star rating.Excellent camera.Battery backup full day in single charge...Tougher and water resistant design, glossy back..The screen has excellent brightness and contrast..Apple A13 Bionic is the fastest smartphone chip on the planet..Excellent battery life, fast charging support..Stereo speakers with great quality.',
 'Thanks Flipkart For this amazing deal! I had a dream of owning a iphone since i had known about..Im very happy with my purchase & it is totally worth it..Amazing experience all over !!..Anyone who’s thinking of buying it in 2021, i would simply say go for it without any second thoughts ❤️',
 'Please DONT buy from here,..I purchased Apple iPhone 11. with an exchange of IPhone 7, the exchange did not go well, iPhone 7 had a small scratch out side screen which i could never identify till date, but the FLIPKART person could, so he reduced 50% from exchange rate. I decided not to trade in, but paid money...iPhone 11 Detail Below.---------------------------------------------.It came with no charging, then i have put for charging, it took lot of time for charging, the phone also showe....READ MORE',
 'awesome phone to have. it has got many smart features apart from mind blowing looks, camera, display, battery and sound. have fallen in love with this phone. must buy phone if you have got enough money. thanks to flipkart and apple of course..',
 'Its a fabulous mobile look awesome performance unbeaten camera like dslr battery good i think this is a beast of mobile',
 'Dear friends... I want to share my experience with you about this amazing I phone 11....this is my first iPhone and special things about this mobile is it has great camera, battery backup and awesome display.... I mean everything is perfect.loved it 👍👍👍',
 "Just got this iphone 11.And it is most powerful mobile phone I have used ever..So,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip..That's my review about this phone but yours can be differ from me....",
 "The best all rounder iphone. Flipkart is doing a great job. They're delivery services are blazing fast. I got delivery on the same day. Genuine Apple Product. Working great. Talking about review There's no need of review for iphones. They're simply the best."]

In [237]:
print(len(page7_rating),len(page7_Review_summary),len(page7_full_review))

10 10 10

In [238]:
page7 = pd.DataFrame({})
page7["rating"]=page7_rating
page7["Review_summary"]=page7_Review_summary
page7["full_review"]=page7_full_review
page7

,rating,Review_summary,full_review
0,5,Perfect product!,Awesome purchase. Amazing phone with good batt...
1,5,Awesome,"Always love the apple products, upgraded from ..."
2,5,Perfect product!,Value for money.5 star rating.Excellent camera...
3,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
4,1,Very poor,"Please DONT buy from here,..I purchased Apple ..."
5,5,Fabulous!,awesome phone to have. it has got many smart f...
6,5,Excellent,Its a fabulous mobile look awesome performance...
7,5,Must buy!,Dear friends... I want to share my experience ...
8,4,Value-for-money,Just got this iphone 11.And it is most powerfu...
9,5,Best in the market!,The best all rounder iphone. Flipkart is doing...

In [239]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()

In [240]:
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="bd0b69f4-1269-45bf-a664-765264127715")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="a961075a-e482-4d34-8097-51227ab7aae8")>]

In [241]:
page8_rating=[]
for i in rating:
    ratings = i.text
    page8_rating.append(ratings)
page8_rating

['5', '5', '4', '5', '5', '5', '4', '5', '5']

In [242]:
page8_rating.insert(7,'1')
page8_rating

['5', '5', '4', '5', '5', '5', '4', '1', '5', '5']

In [243]:
Review_summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_summary[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="43f48d9a-9113-4e94-9845-1fcf8918fa9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="3f401b50-d647-4147-97c6-4dac3718974a")>]

In [244]:
page8_Review_summary=[]
for i in Review_summary:
    Review_summarys = i.text
    page8_Review_summary.append(Review_summarys)
page8_Review_summary

['Brilliant',
 'Terrific purchase',
 'Good quality product',
 'Best in the market!',
 'Perfect product!',
 'Awesome',
 'Value-for-money',
 'Worthless',
 'Super!',
 'Mind-blowing purchase']

In [245]:
full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="cc043840-03ed-4f0b-b78e-10d220f4edd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="48efc528-2eb4-4c0f-b875-ad189ae17eee")>]

In [246]:
page8_full_review=[]
for i in full_review:
    full_reviews = i.text.replace("\n",".")
    page8_full_review.append(full_reviews)
page8_full_review

['Amazing phone and on great deal I received with super fast delivery by Flipkart...',
 'finally an iPhone with very nice battery backup. update from iPhone 7 and happy to have it. camera is not up to the mark in low light but overall a recommended phone if your budget allows 😀',
 "I'm switching this phone to oppo reno 10x zoom.It's really impressive.Rarely I'm missing smooth display touch response like oppo reno but.I really loved it..Camera really impressive",
 'Damn this phone is a blast . Upgraded from android to ios and is a duperb experience. Battery backup is top notch and display also pretty good',
 'Worth the money’ starting first from its performance it beats out all phones , second the smoothness of camera is awesome, contrast ratio is much than expected. Price will not matter if u r a quality person, if not other phones are available with better discount',
 'I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny',
 "I'm Really happy with the product.Delivery was fast as well...it was a gift for my sister and she loved it so much.",
 "Phone is awesome no doubt. But Camera & Display is not great. Performance is mind blowing..But the phone is heating too much when charging or when you regularly used. It's experience after using 1 week. It's heating extrem when I play PUBG for 30 minutes..Go for iPhone 11 pro or 12. Otherwise go for Android phone you will get much better phone in less price.",
 'Did an upgrade from 6s plus to iphone 11..Ao far the experience is well and good. Felt smoother than 6s plus. The camera quality is superb. Battery backup is descent. Not a heavy user, and gets power more than a day. Go for it if you need an alrounder iphone in a competitve price.',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well...And I’m posting this review after using it for 4 days.']

In [247]:
print(len(page8_rating),len(page8_Review_summary),len(page8_full_review))

10 10 10

In [248]:
page8 = pd.DataFrame({})
page8["rating"]=page8_rating
page8["Review_summary"]=page8_Review_summary
page8["full_review"]=page8_full_review
page8

,rating,Review_summary,full_review
0,5,Brilliant,Amazing phone and on great deal I received wit...
1,5,Terrific purchase,finally an iPhone with very nice battery backu...
2,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
3,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
4,5,Perfect product!,Worth the money’ starting first from its perfo...
5,5,Awesome,I dreamt about this day from a long time.... G...
6,4,Value-for-money,I'm Really happy with the product.Delivery was...
7,1,Worthless,Phone is awesome no doubt. But Camera & Displa...
8,5,Super!,Did an upgrade from 6s plus to iphone 11..Ao f...
9,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...

In [249]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()

In [250]:
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="cb580ac1-b14a-4ee7-8797-2c705755fc50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="99dd239c-a566-4721-965e-7ba1d676c628")>]

In [251]:
page9_rating=[]
for i in rating:
    ratings = i.text
    page9_rating.append(ratings)
page9_rating

['5', '5', '5', '5', '5', '5', '5', '5', '5', '4']

In [252]:
Review_summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_summary[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="267581ca-ee14-4af0-9525-05316f7931de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="10c25f4e-bc53-49aa-8765-ab351c5b63d0")>]

In [253]:
page9_Review_summary=[]
for i in Review_summary:
    Review_summarys = i.text
    page9_Review_summary.append(Review_summarys)
page9_Review_summary

['Super!',
 'Awesome',
 'Just wow!',
 'Mind-blowing purchase',
 'Classy product',
 'Worth every penny',
 'Excellent',
 'Just wow!',
 'Wonderful',
 'Nice product']

In [254]:
full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="f7b52392-0011-45e1-8157-827d60efcbdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="0b84f350-ae71-4237-8a96-9156076660cd")>]

In [255]:
page9_full_review=[]
for i in full_review:
    full_reviews = i.text.replace("\n",".")
    page9_full_review.append(full_reviews)
page9_full_review

['This is my first ever iPhone..And I truly don’t regret switching to IOS from my Android...It is easily an alternative to a DSLR camera..If you’re obsessed with photos and videos, just don’t think twice or don’t compare to other androids(Samsung S10 lite or OnePlus 8/8T), as it’s far better from them in every field..Comparing will only make you confused...I am getting an average Screen on Time of around 10 hours with 30 percent left. I haven’t let my device discharged below 30 % as it aff....READ MORE',
 'Can’t beat the software and hardware integration of apple..Performs like a beast. Great quality camera.6-7 hours screen on time which is good. Nothing much to complaint about the screen. Good connectivity speeds..Great buy and Flipkart’s delivery top notch as usual',
 'Great iphone..I am writing this review after 2 months of usage..Camera is excellent, especially the nightmode.Display perfect.Battery backup awesome.Sound quality very good.Overall Apple gives you a perfect iphone in this range..Really in love with iPhone 11',
 'beautiful shining, battery performance is too good..only the draw back is my expectations not meeted front cam but back cam is superb.',
 'Gifted my man on his 30th birthday 🎂 He loves it.. Him happy so i am more than happy 😍😘❤️🥰',
 'Here is the thing..The only reason why you should buy this phone is for the camera, iOS, and if you have headaches looking at AMOLED display...I’m not an avid gamer but watch a lot of movies on smartphone. However, my migraine attacks increased considerably after using AMOLED Smartphone. That’s why I made a calculated decision to buy iPhone 11. It has the best LCD display and the blacks, though not as natural as an AMOLED, is better than some of the other smartphones...Adding to this the ste....READ MORE',
 "It was amazing experience for me. Honestly i am using iPhone first time so I don't have that much past experience about that. But after using 7 days this mobile i want to give some honest feedback..1- Display 9 out of 10.2- Camera 9.5 out of 10.3- Battery 7 out of 10.4- Performance 9.5 out of 10.5- Features & Functions 10 out of 10.6- Outer looks and colour 10 out of 10.Rest i think i will understand after using this for few months..I will highly recommend you guys if you have budget then you....READ MORE",
 'Not mere a phone , Its more than that for fun and enjoy life. Just grab it. Best luck',
 "Ok, so after almost 3 years I am again back into Apple Ecosystem. Switching from Android to iOS has just one disadvantage imo, and that's you can't take your WhatsApp data restored to iOS. Everything starts fresh, pretty sad. I am so glad that I chose iPhone 11 over 12. With 5G nowhere in India for at least an year will have an added advantage to iPhone 11. Spending extra 25k just for A14 chipset and OLED display is not a clever choice. Anyways, a fantastic phone with everything fit perfectly....READ MORE",
 "If you are looking for a premium phone under 55k, this is the one for you.Got the iPhone 11 during the Republic day sale. Performance is top notch in this price range. Camera's do a perfect job in taking good quality photos and videos. Battery backup too is satisfactory. Writing this review after using for a week. Any further observations would be updated."]

In [256]:
print(len(page9_rating),len(page9_Review_summary),len(page9_full_review))

10 10 10

In [257]:
page9 = pd.DataFrame({})
page9["rating"]=page9_rating
page9["Review_summary"]=page9_Review_summary
page9["full_review"]=page9_full_review
page9

,rating,Review_summary,full_review
0,5,Super!,This is my first ever iPhone..And I truly don’...
1,5,Awesome,Can’t beat the software and hardware integrati...
2,5,Just wow!,Great iphone..I am writing this review after 2...
3,5,Mind-blowing purchase,"beautiful shining, battery performance is too ..."
4,5,Classy product,Gifted my man on his 30th birthday 🎂 He loves ...
5,5,Worth every penny,Here is the thing..The only reason why you sho...
6,5,Excellent,It was amazing experience for me. Honestly i a...
7,5,Just wow!,"Not mere a phone , Its more than that for fun ..."
8,5,Wonderful,"Ok, so after almost 3 years I am again back in..."
9,4,Nice product,If you are looking for a premium phone under 5...

In [258]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()

In [259]:
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="5a378aed-0d20-41e6-add7-1b4cb2178eaa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="3f6b8a73-49ad-4965-9d24-71c335a0df41")>]

In [260]:
page10_rating=[]
for i in rating:
    ratings = i.text
    page10_rating.append(ratings)
page10_rating

['5', '5', '5', '5', '5', '4', '5', '5', '5', '5']

In [261]:
Review_summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review_summary[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="099241cc-7057-4866-966e-1a143c3815ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="fc7061bc-1d71-452d-a12b-bee27e78ad7f")>]

In [262]:
page10_Review_summary=[]
for i in Review_summary:
    Review_summarys = i.text
    page10_Review_summary.append(Review_summarys)
page10_Review_summary

['Mind-blowing purchase',
 'Terrific',
 'Excellent',
 'Brilliant',
 'Excellent',
 'Pretty good',
 'Worth every penny',
 'Mind-blowing purchase',
 'Fabulous!',
 'Just wow!']

In [263]:
full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="5c610d80-63dc-4932-a2fb-0123536df6a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="320f2533-cefc-46a8-bc7c-9b0a59f3349a")>]

In [264]:
page10_full_review=[]
for i in full_review:
    full_reviews = i.text.replace("\n",".")
    page10_full_review.append(full_reviews)
page10_full_review

['awesome Phone Smooth Touch Too good Sexyy looks one word Awesome',
 'I bought iPhone 11 On March 2021, And I am Writing this review after using the phone for 4 Months. I would Say Everything is fine, Top Performance, Nice Camera as Anyone would Expect from any series of iPhone but when the Question comes to Battery it is complicated. The Battery is fully optimised and it comes 3110 mAh capacity but the problem is with the charger. Honestly Apple Removed charger from in Box items in the name of Environment and they are also forcing us to buy any 20W PD 3rd part....READ MORE',
 "Just go for it..This phone is really amazing. I ordered it for my wife and we click photos on this thing which are better than dslr. I own OnePlus 6t but it's camera sucks. iPhone is really amazing when it comes to camera. It's worth spending 50k on this. Cons- only display is lcd. While using u don't feel it but if u compare with other phone then u can see difference quite easily..Changing from Android to iphone is bit difficult coz most of things u don't know but I liked it. Some of the a....READ MORE",
 'A wort full value for money decision it’s . Simply go for it in 2021 its still a good decision . Awesome camera , Super smothered performance, Heck of build quality. And Most important it protects your privacy.',
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 "I've used this phone for over a month now and here are my takeaways..I would like to first talk about the best things about this phone and then the cons of it...Pros:.This phone is a performance beast. It handles large games and applications effortlessly and you won't find any stutters or lags while playing graphic intensive games like pubg, cod , mortal kombat and asphalt...This phone has only 4gb ram and yet the ram management is amazing, it can keep 3 heavy games in memory without reload....READ MORE",
 'Undoubtedly Iphone 11 is the most successful model till now and its performance is extraordinary and the security features are very impressive, display is more vibrant sound quality Camera Quality 5*****, but Iphone should add accessories too and act like scrooge.',
 'Excellent camera 📸 And Display touching very Nice And Smooth and very improvement against.I phone 11 and new processor is very fast',
 'I purchased the iPhone 11 a month back. I must say Apple has impressed me yet again . I have been an Apple user for past 5 years . The phone is power packed with amazing features . What impressed me the most was the battery backup the phone offers . Battery can easily run upto 1.5 days in single charge with moderate to.Heavy usage . If you’re looking for a value for money device , I don’t see any other phone in the price range which can match the iPhone 11 ..One thing I didn’t like was that ....READ MORE',
 'The ultimate performance.Camera is superb.The battery backup also very good i never saw iphone gives this much of battery backup.If any one wana buy iphone 11 definitely i will recommend this mobile.It has the better battery and powerfull processer peak performance glorious camera and the display also 100% high quality lcd display if u had money for for 12 if u dont wana invest much money on that then go for iphone 11 it has maximum same specs only main difference between the 12 and 11 is....READ MORE']

In [265]:
print(len(page10_rating),len(page10_Review_summary),len(page10_full_review))

10 10 10

In [266]:
page10 = pd.DataFrame({})
page10["rating"]=page10_rating
page10["Review_summary"]=page10_Review_summary
page10["full_review"]=page10_full_review
page10

,rating,Review_summary,full_review
0,5,Mind-blowing purchase,awesome Phone Smooth Touch Too good Sexyy look...
1,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
2,5,Excellent,Just go for it..This phone is really amazing. ...
3,5,Brilliant,A wort full value for money decision it’s . Si...
4,5,Excellent,A perfect phone and a good battery super camer...
5,4,Pretty good,I've used this phone for over a month now and ...
6,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
7,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
8,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
9,5,Just wow!,The ultimate performance.Camera is superb.The ...

In [270]:
iphone11_phone_reviews =pd.concat([page1,page2,page3,page4,page5,page6,page7,page8,page9,page10])
iphone11_phone_reviews

,rating,Review_summary,full_review
0,5,Brilliant,The Best Phone for the Money..The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
5,4,Pretty good,I've used this phone for over a month now and ...
6,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
7,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
8,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
9,5,Just wow!,The ultimate performance.Camera is superb.The ...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [271]:
driver.get("https://www.flipkart.com/")

In [272]:
search_designation=driver.find_element_by_class_name("_3704LK")
search_designation.send_keys("sneakers")

In [273]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [274]:
name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
name[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="6e3fb0e7-e1a3-4599-8b17-c34849f88798")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="0edd29de-45c3-4bb8-abbc-4b1e4872abea")>]

In [275]:
page1_names=[]
for i in name:
    names=i.text
    page1_names.append(names)
page1_names[0:2]

['HIGHLANDER', 'HIGHLANDER']

In [276]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="568de117-1db1-46f9-9cfd-6b03006d2480")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="c8a642ed-793e-4fc9-9007-b724c2e5510e")>]

In [277]:
page1_price=[]
for i in price:
    prices=i.text
    page1_price.append(prices)
page1_price[0:2]

['₹945', '₹746']

In [304]:
pdetails=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pdetails[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="6326bd26-5301-4d3a-8c50-d6640058ce79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="e8322090-23ae-40e4-95db-4b808b25aa7f")>]

In [305]:
page1_pdetails=[]
for i in pdetails:
    pdetails=i.text
    page1_pdetails.append(pdetails)
page1_pdetails[0:2]

['Sneakers For Men',
 'Casual Trendy Sneaker Casual Shoes For Men Sneakers For...']

In [290]:
print(len(page1_names),len(page1_price),len(page1_pdetails))

40 40 40

In [302]:
page1_pdetails.extend(['NaN','NaN'])
page1_pdetails[0:2]

['Sneakers For Men', 'Sneakers For Men']

In [292]:
import sklearn
from sklearn.impute import SimpleImputer

In [301]:
page1 = pd.DataFrame({})
page1["names"]=page1_names
page1["price"]=page1_price
page1["product_details"]=page1_pdetails[0:40]
page1.head()

        names price                                    product_details
0  HIGHLANDER  ₹945                                   Sneakers For Men
1  HIGHLANDER  ₹746                                   Sneakers For Men
2      Chevit  ₹469  Super Stylish & Trendy Combo Pack of 02 Pairs ...
3    KWIK FIT  ₹349  Kwik FIT casual sneaker shoes and partywear sh...
4    Magnolia  ₹374                                   Sneakers For Men

In [293]:
imp = SimpleImputer(missing_values='NaN',strategy="most_frequent")

In [296]:
page1["product_details"] = imp.fit_transform(page1["product_details"].values.reshape(-1,1))

In [300]:
page1.head()

        names price                                    product_details
0  HIGHLANDER  ₹945                                   Sneakers For Men
1  HIGHLANDER  ₹746                                   Sneakers For Men
2      Chevit  ₹469  Super Stylish & Trendy Combo Pack of 02 Pairs ...
3    KWIK FIT  ₹349  Kwik FIT casual sneaker shoes and partywear sh...
4    Magnolia  ₹374                                   Sneakers For Men

In [334]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [335]:
next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
next_button.click()

In [336]:
name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
name[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="9e561d62-407c-4d00-9493-e5a71a585903")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="c978a026-43d0-4336-a0e1-eeb8ff7bcd2d")>]

In [337]:
page2_names=[]
for i in name:
    names=i.text
    page2_names.append(names)
page2_names[0:2]

['Chevit', 'Chevit']

In [338]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="5600b73f-387d-4ef0-aed1-ad799f3864ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="91a78912-99a2-46e0-a02d-f342d3c37b28")>]

In [339]:
page2_price=[]
for i in price:
    prices=i.text
    page2_price.append(prices)
page2_price[0:2]

['₹282', '₹249']

In [360]:
pdetails=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pdetails[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="183fa2ab-9ffa-475e-8295-ac9f110ef4a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="bf90dc53-f662-48a4-8213-b1cd53c85d60")>]

In [361]:
page2_pdetails=[]
for i in pdetails:
    pdetails=i.text
    page2_pdetails.append(pdetails)
page2_pdetails[0:2]

['Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Exclusive Affordable Collection of Trendy & Stylish Cas...']

In [356]:
print(len(page2_names),len(page2_price),len(page2_pdetails))

40 40 40

In [354]:
page2_pdetails.extend(['Sneakers For Men','Sneakers For Men','Sneakers For Men','Sneakers For Men','Sneakers For Men','Sneakers For Men','Sneakers For Men','Sneakers For Men','Sneakers For Men'])
page2_pdetails=page2_pdetails[0:40]
page2_pdetails

['Super 445 Fashion Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Sneakers For Men',
 'Latest Collection-1215 Stylish Casual Sports Sneakers F...',
 'Sneakers For Men',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 'Sneakers For Men',
 'Sneakers For Men',
 'casual for men Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'Perfect Combo Pack of 03 Pairs Casual Sneakers Outdoor ...',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Latest Collection Black-349 Trendy & Stylish Casual Sne...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'casual shoes for men sneakers for boys party wear outdo...',
 'CH-527 Trendy Star Perfect Casuals Sneakers For Men',
 'shoe Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [357]:
print(len(page2_names),len(page2_price),len(page2_pdetails))

40 40 40

In [355]:
page2 = pd.DataFrame({})
page2["names"]=page2_names
page2["price"]=page2_price
page2["product_details"]=page2_pdetails[0:40]
page2.head()

    names price                                    product_details
0  Chevit  ₹282                 Super 445 Fashion Sneakers For Men
1  Chevit  ₹249                           Sneaker Sneakers For Men
2  BRUTON  ₹249                                   Sneakers For Men
3  Labbin  ₹449  Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...
4  BRUTON  ₹449                                   Sneakers For Men

In [358]:
next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
next_button.click()

In [362]:
name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
name[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="fb5aaf04-08ee-44b5-bc7f-3515cbe7ca28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="a068e679-2ea6-41aa-811d-4e910349f73a")>]

In [363]:
page3_names=[]
for i in name:
    names=i.text
    page3_names.append(names)
page3_names[0:2]

['India hub', 'T-ROCK']

In [364]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="3b7a777a-4d9f-4a97-870c-03ff90a34cff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="cb581b12-d85d-4cce-9e96-0c74e69e203e")>]

In [365]:
page3_price=[]
for i in price:
    prices=i.text
    page3_price.append(prices)
page3_price[0:2]

['₹449', '₹249']

In [366]:
pdetails=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pdetails[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="183fa2ab-9ffa-475e-8295-ac9f110ef4a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="bf90dc53-f662-48a4-8213-b1cd53c85d60")>]

In [367]:
page3_pdetails=[]
for i in pdetails:
    pdetails=i.text
    page3_pdetails.append(pdetails)
page3_pdetails[0:2]

['Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Exclusive Affordable Collection of Trendy & Stylish Cas...']

In [368]:
print(len(page2_names),len(page2_price),len(page2_pdetails))

40 40 33

In [369]:
page3 = pd.DataFrame({})
page3["names"]=page3_names[0:20]
page3["price"]=page3_price[0:20]
page3["product_details"]=page3_pdetails[0:20]
page3.head()

,names,price,product_details
0,India hub,₹449,Luxury Fashionable casual sneaker shoes Sneake...
1,T-ROCK,₹249,Exclusive Affordable Collection of Trendy & St...
2,World Wear Footwear,₹139,Men's Sneakers Fashion Lightweight Running Sho...
3,FEWROK,₹449,"white Casual shoes,Sneakers for men's Sneakers..."
4,Echor,₹489,Luxury Fashionable casual sneaker shoes Sneake...

In [370]:
sneakers_details = pd.concat([page1,page2,page3])
sneakers_details

           names price                                    product_details
0     HIGHLANDER  ₹945                                   Sneakers For Men
1     HIGHLANDER  ₹746                                   Sneakers For Men
2         Chevit  ₹469  Super Stylish & Trendy Combo Pack of 02 Pairs ...
3       KWIK FIT  ₹349  Kwik FIT casual sneaker shoes and partywear sh...
4       Magnolia  ₹374                                   Sneakers For Men
..           ...   ...                                                ...
15    HIGHLANDER  ₹945                                   Sneakers For Men
16     India hub  ₹374                                   Sneakers For Men
17   MILESWALKER  ₹289       Sports/Running/Training/Gym Sneakers For Men
18      LE GREEM  ₹399                                   Sneakers For Men
19  Robbie jones  ₹424                                   Sneakers For Men

[100 rows x 3 columns]

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [433]:
driver.get("https://www.myntra.com/shoes")

In [434]:
price_filter=driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter.click()

In [435]:
color_filter=driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
color_filter.click()

In [449]:
brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
brand[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="b3ba7d61-4d51-4656-b704-2dbb872ea1d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="63b52118-95f6-49ff-9d70-8557e6faef92")>]

In [450]:
page1_brand=[]
for i in brand:
    brand_name=i.text
    page1_brand.append(brand_name)
page1_brand[0:2]

['Nike', 'Puma']

In [451]:
description=driver.find_elements_by_xpath("//h4[@class='product-product']")
description[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="8786758e-18c9-44ee-a9ee-9bd5703ab1f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="ae88c422-6ac3-4a28-938e-4989753f0158")>]

In [452]:
page1_description=[]
for i in description:
    description_name=i.text
    page1_description.append(description_name)
page1_description[0:2]

['Men Court Royale Sneakers', 'Men Running Shoes']

In [456]:
price=driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")
price[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="a936d517-f267-422e-9365-364a1191fd17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="78f87a7f-bae7-42a2-8fa3-1695894d81a8")>]

In [457]:
page1_price=[]
for i in price:
    price_detail=i.text
    page1_price.append(price_detail)
page1_price[0:2]

['Rs. 2921', 'Rs. 2749']

In [458]:
print(len(page1_brand),len(page1_description),len(page1_price))

50 50 48

In [460]:
page1_price.extend(['NaN','NaN'])
page1_price[0:2]

['Rs. 2921', 'Rs. 2749']

In [461]:
print(len(page1_brand),len(page1_description),len(page1_price))

50 50 50

In [462]:
page1=pd.DataFrame({})
page1["brand_name"]=page1_brand
page1["product_description"]=page1_description
page1["price"]=page1_price[0:50]
page1.head()

  brand_name        product_description      price
0       Nike  Men Court Royale Sneakers   Rs. 2921
1       Puma          Men Running Shoes   Rs. 2749
2   Red Tape          Men Walking Shoes   Rs. 1889
3       Nike  Kids Revolution 4 Running   Rs. 1499
4       ALDO        Men Leather Loafers  Rs. 11199

In [463]:
page1["price"] = imp.fit_transform(page1["price"].values.reshape(-1,1))

In [464]:
page1.head()

  brand_name        product_description      price
0       Nike  Men Court Royale Sneakers   Rs. 2921
1       Puma          Men Running Shoes   Rs. 2749
2   Red Tape          Men Walking Shoes   Rs. 1889
3       Nike  Kids Revolution 4 Running   Rs. 1499
4       ALDO        Men Leather Loafers  Rs. 11199

In [465]:
next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
next_button.click()

In [466]:
brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
brand[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="9bbba2f6-bb8f-4feb-a5e3-a8355ab7d01c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="485d5d06-6d1c-4cc1-926e-fd5057aa2dac")>]

In [467]:
page2_brand=[]
for i in brand:
    brand_name=i.text
    page2_brand.append(brand_name)
page2_brand[0:2]

['Red Tape', 'Nike']

In [468]:
description=driver.find_elements_by_xpath("//h4[@class='product-product']")
description[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="6211f5bd-8c40-4d5a-b6b4-1b87000e29c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="ad25216d-bd9a-4e9c-a2ac-f3339f2a162e")>]

In [469]:
page2_description=[]
for i in description:
    description_name=i.text
    page2_description.append(description_name)
page2_description[0:2]

['Women Walking Shoes', 'Unisex Shane Skateboarding']

In [470]:
price=driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")
price[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="dad6410c-c82b-40a2-84e2-f635842b80e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="db0cbaec-ee42-4130-986d-418905c24bd1")>]

In [471]:
page2_price=[]
for i in price:
    price_detail=i.text
    page2_price.append(price_detail)
page2_price[0:2]

['Rs. 1349', 'Rs. 5196']

In [472]:
print(len(page2_brand),len(page2_description),len(page2_price))

50 50 46

In [478]:
page2_price.extend(['NaN','NaN','NaN','NaN'])
page2_price[0:2]

['Rs. 1349', 'Rs. 5196']

In [477]:
print(len(page2_brand),len(page2_description),len(page2_price))

50 50 50

In [479]:
page2=pd.DataFrame({})
page2["brand_name"]=page2_brand
page2["product_description"]=page2_description
page2["price"]=page2_price[0:50]
page2.head()

   brand_name           product_description     price
0    Red Tape           Women Walking Shoes  Rs. 1349
1        Nike    Unisex Shane Skateboarding  Rs. 5196
2     Mactree             Men Suede Loafers   Rs. 898
3    Skechers  Men Go Walk Max- Painted Sky  Rs. 4239
4  ELIXIR MAN                  Men Sneakers   Rs. 579

In [480]:
shoes_data = pd.concat([page1,page2])
shoes_data

        brand_name           product_description      price
0             Nike     Men Court Royale Sneakers   Rs. 2921
1             Puma             Men Running Shoes   Rs. 2749
2         Red Tape             Men Walking Shoes   Rs. 1889
3             Nike     Kids Revolution 4 Running   Rs. 1499
4             ALDO           Men Leather Loafers  Rs. 11199
..             ...                           ...        ...
45            ALDO  Men Textured Leather Loafers   Rs. 1109
46        Skechers           Women Walking Shoes        NaN
47  Mast & Harbour          Men Slip-On Sneakers        NaN
48             H&M          Men Slip-On Trainers        NaN
49        Red Tape     Unisex Kids Walking Shoes        NaN

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [523]:
driver.get("https://www.amazon.in/")

In [524]:
search=driver.find_element_by_xpath("/html/body/div[2]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search.send_keys("Laptop")

In [525]:
search_button=driver.find_element_by_xpath("/html/body/div[2]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [526]:

filter1=driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a")
filter1.click()

In [529]:
title=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="b0db2278-db85-423b-8a67-2bc0048f6a40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="1d65f685-1456-4b39-839a-8026f7e7598d")>]

In [531]:
page1_title=[]
for i in title:
    titles=i.text
    page1_title.append(titles)
page1_title[0:2]

['Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7 EvoTM 15.6 inch Touchscreen 2-in-1 AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MSO Home & Student 2021/Graphite/1.41Kg), NP950QED-KA1IN',
 'Samsung Galaxy Book2 360 Intel 12th Gen i7 EvoTM  33.78cm (13.3") AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office Home & Student 2021/Graphite/1.16Kg), NP730QED-KA1IN']

In [582]:
rating=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="27ca5326-0f8b-4abf-a737-5ea4ba56ae3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="0cbe04cb-7a4d-47bf-9490-fe34a20f4ce0")>]

In [583]:
page1_rating=[]
for i in rating:
    ratings=i.text
    page1_rating.append(ratings)
page1_rating

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [575]:
price =driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="a3ed81cf-e141-4daf-b1af-65805685263a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="6bad2d35-9921-4864-8a70-2c49c9b0b783")>]

In [577]:
page1_price=[]
for i in price:
    prices=i.text
    page1_price.append(prices)
page1_price[0:2]

['1,29,990', '1,05,990']

In [584]:
print(len(page1_price),len(page1_rating),len(page1_title))

30 30 30

In [587]:
laptop_details=pd.DataFrame({})
laptop_details["title"]=page1_title[0:10]
laptop_details["rating"]=page1_rating[0:10]
laptop_details["price"]=page1_price[0:10]
laptop_details

                                               title rating     price
0  Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...         1,29,990
1  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...         1,05,990
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...           57,490
3  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...           86,990
4  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...         1,05,990
5  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....           86,990
6  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...           81,990
7  HP Pavilion x360 11th Gen Intel Core i7 14 inc...           88,490
8  MSI Katana GF66 Gaming, Intel i7-11800H, 15.6"...           91,590
9  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...           89,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [588]:
driver.get("http://www.ambitionbox.com/")

In [590]:
job_option=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job_option.click()

In [591]:
search_designation=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_designation.send_keys("Data Scientist")
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search_button.click()

In [592]:
search_location=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
search_location.click()

In [595]:
noida_location=driver.find_element_by_xpath("//*[@id='filters-row']/div/div/div[2]/div[2]/div/div[3]/div[1]/div[2]/div/label")
noida_location.click()

In [600]:
name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
name[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="db51c738-95a2-47fc-bc71-d764ef6c5fca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="0ac11ca3-eda1-434b-b6d1-29ffa753cc75")>]

In [602]:
company_name=[]
for i in name:
    names=i.text
    company_name.append(names)
company_name[0:2]

['GENPACT India Private Limited',
 'Optum Global Solutions (India) Private Limited']

In [607]:
time_of_post=driver.find_elements_by_xpath("//span[@class='body-small-l']")
time_of_post[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="9dcc0f66-3104-4086-b629-e6179361289a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="70e51c6b-2c68-42e6-9402-2ab83f27d9c1")>]

In [614]:
post_timing=[]
for i in time_of_post:
    times=i.text
    post_timing.append (times)
post_timing[0:20:2]

['23hr ago',
 '15d ago',
 '14d ago',
 '17d ago',
 '21d ago',
 '1mon ago',
 '1d ago',
 '10d ago',
 '1mon ago',
 '1mon ago']

In [615]:
rating=driver.find_elements_by_xpath("//span[@class='body-small']")
rating[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="b0c5c344-8cf0-4a3f-a20d-355b8ac59541")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="798614cd-4223-463b-9bf6-1965ff93ba9e")>]

In [616]:
company_rating=[]
for i in rating:
    ratings=i.text
    company_rating.append (ratings)
company_rating

['4.0', '4.1', '3.7', '4.0', '3.8', '4.1', '3.5', '3.6', '4.2', '4.2']

In [617]:
comany_details = pd.DataFrame({})
comany_details["name"]=company_name
comany_details["No. of days ago when job was posted"] = post_timing[0:20:2]
comany_details["ratings"]=company_rating
comany_details

,name,No. of days ago when job was posted,ratings
0,GENPACT India Private Limited,23hr ago,4.0
1,Optum Global Solutions (India) Private Limited,15d ago,4.1
2,Tech Mahindra Ltd,14d ago,3.7
3,GENPACT India Private Limited,17d ago,4.0
4,HCL Technologies,21d ago,3.8
5,Optum Global Solutions (India) Private Limited,1mon ago,4.1
6,Newgen Software Technologies Ltd.,1d ago,3.5
7,JK Technosoft Ltd,10d ago,3.6
8,Pitney Bowes India Pvt Ltd,1mon ago,4.2
9,Microsoft India (R and D) Pvt Ltd,1mon ago,4.2

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [656]:
driver.get("http://www.ambitionbox.com/")

In [657]:
salary_option=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salary_option.click()

In [659]:
search_designation=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_designation.send_keys("Data Scientist")
search_designation.click()

In [664]:
name=driver.find_elements_by_xpath("//div[@class='name']")
name

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="43332409-bcbd-4d46-8996-8b93cb3a9656")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="969b0b4c-7727-44d3-af66-9096a78755c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="899dc55d-ddde-458a-b01c-ebe92bb6c0fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="4b483328-a33c-45dd-a620-f2e123bf3061")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="e78db180-3db8-4769-bb02-6cb1505e8d2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="950ed799-813d-4d27-9503-eb758fd026e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="015252b5-f819-40da-b362-8e7dfb63f1c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="0b696952-c108-4fff-99bd-d68261aa57f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="a3716f56-50c6-4f26-8e3e-58b5ff0b2cbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="aea64e87-a3b1-4bfd-9975-c827aafd6737")>]

In [665]:
company_name=[]
for i in name:
    names=i.text
    company_name.append(names)
company_name[0:2]

['Walmart\nbased on 12 salaries', 'Ab Inbev\nbased on 29 salaries']

In [667]:
avg_sal=driver.find_elements_by_xpath("//p[@class='averageCtc']")
avg_sal[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="5b48a990-51b6-4508-86c3-df7dfc70a71a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="7a8d3a1b-db71-41a8-a8c1-032be6286b43")>]

In [668]:
avg_salary=[]
for i in avg_sal:
    salaries=i.text
    avg_salary.append(salaries)
avg_salary[0:2]

['₹ 28.7L', '₹ 20.4L']

In [669]:
min_sal=driver.find_elements_by_xpath("//div[@class='value body-medium']")
min_sal[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="0651da0b-f15d-4c5a-9cdf-ea1ebb32f776")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c4f08832fb988b3d2e129ee15a13dbf0", element="ad643030-c14e-408f-92d8-58dd9e74a93a")>]

In [675]:
min_salary=[]
for i in min_sal:
    sals=i.text
    min_salary.append(sals)
min_salary[0:2]

['₹ 17.7L', '₹ 35.0L']

In [674]:
company_salary_details =pd.DataFrame({})
company_salary_details["name and Number of salaries "] = company_name
company_salary_details["avarage salary"] = avg_salary
company_salary_details["maximum salary"] = min_salary[1:20:2]
company_salary_details["minimum salary"] = min_salary[0:20:2]
company_salary_details

,name and Number of salaries,avarage salary,maximum salary,minimum salary
0,Walmart\nbased on 12 salaries,₹ 28.7L,₹ 35.0L,₹ 17.7L
1,Ab Inbev\nbased on 29 salaries,₹ 20.4L,₹ 25.5L,₹ 15.0L
2,Reliance Jio\nbased on 10 salaries,₹ 18.9L,₹ 26.2L,₹ 5.6L
3,ZS\nbased on 15 salaries,₹ 15.9L,₹ 20.0L,₹ 9.8L
4,Optum\nbased on 27 salaries,₹ 15.3L,₹ 22.4L,₹ 11.0L
5,Fractal Analytics\nbased on 81 salaries,₹ 15.1L,₹ 22.0L,₹ 9.5L
6,Tiger Analytics\nbased on 45 salaries,₹ 14.7L,₹ 20.0L,₹ 9.0L
7,UnitedHealth\nbased on 52 salaries,₹ 13.9L,₹ 20.5L,₹ 8.3L
8,Verizon\nbased on 14 salaries,₹ 12.7L,₹ 21.0L,₹ 10.0L
9,Ganit Business Solutions\nbased on 13 salaries,₹ 12.4L,₹ 15.0L,₹ 8.5L